.closeIcon {
  display: inline-flex;
  float: right;
  padding: 0 25px;
}

.foodList {
  list-style: none;
}

.mealList{
	margin: 25px 20px;
}
.mealListItem{
	height: 300px;
	width: 350px;
}

.mealListDescription {
	height: 150px;
	width: 250px;
}

.totalCalories {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

body {
	background-color: #f0f5f5;
}

