@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.closeIcon {
  display: inline-flex;
  float: right;
  padding: 0 25px;
}

.foodList {
  list-style: none;
}

.mealList{
	margin: 25px 20px;
}
.mealListItem{
	height: 300px;
	width: 350px;
}

.mealListDescription {
	height: 150px;
	width: 250px;
}

.totalCalories {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

body {
	background-color: #f0f5f5;
}

.signUpForm {
	border: solid 2px #449966;
	width: 50%;
	position: relative;
	text-align: center;
	margin: 50px auto;
}

.signUpIcon {
	float: left;
}

.appTitle {
	position: relative;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	color: #fff;
}

.headerInfo{
	font-family: 'Oswald', sans-serif;
}